@import "../../../../styles/colors.module.scss";
.navContainer {
	display: flex;
	justify-content: center;
}

.nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 16px 10px;
}

.imgLogoNav {
	width: 180px;
}

.navBtn {
	margin: 0px 5px;
	border-color: transparent;
	color: $lightGray;

	&:hover {
		border-color: $primaryRed;
		color: $secondaryGray;
		background-color: transparent;
	}
}

@media (max-width: 421px) {
	.nav {
		justify-content: center;
	}
	.navBtn {
		margin: 16px 10px;
		border-color: $secondaryGray;
		font-size: 1rem;
	}
	.ctaSection {
		gap: 10px;
	}
}

@media (max-width: 370px) {
	.ctaSection {
		text-align: center;
	}
}
