.sectionBackground {
	background-image: linear-gradient(to top, #151515 0, #1515154c 60%, #151515e4 100%),
		url("../public/homeNoAuth/backgroundPresentationSection.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
